{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="mt-3">
        <div class="row">
            <div class="col-sm-7">
                <div class="py-3 px-3 bg-light">
                    <h3>Terms and Conditions</h3>
                    <h5>User Responsibility</h4>
                        <p class="text-secondary">
                            This website should not be used for the propagation
                            of un-Christ-like content and ungodly content.
                        </p>
                        <p class="text-secondary">
                            You shall be held responsible for any illegal
                            content or material uploaded on the site.
                        </p>
                        
                        <h5>Limitation of Liability</h5>
                            <p class="text-secondary">
                                The bootstrap themes shall not be held 
                                accountable for any direct, indirect, 
                                special, accidental or considerable damages 
                                that includes but not bound to, 
                                loss of data or profit caused due to use or
                                 inability to use the products that we 
                                 provide under any circumstances, even if the 
                                 lyrics or legit representative has been 
                                 considered the possibility of such damages. 
                                 You are soley held responsible of any costs caused,
                                  if your use of materials from this site r
                                  esults in the need for servicing, repair 
                                  or correction of equipment or data.
                            </p>
                    <h5>Use of Lyrics</h5>
                    <p class="text-secondary">
                        The owner(s) of this site 
                        reserve the right to remove but not limited to 
                        at any time any content that it deems not 
                        appropriate for it's targetted audience. 
                    </p>
                </div>
            </div>
            <div class="col-sm-5"></div>
        </div>
    </div>
</div>
{% endblock %}