{% extends  'base.html' %}


{% block content %}

<div class="container">
    <div class="mt-5">
        <section>
            <div class="row">
                <div class="col-sm-6">
                    <ol class="bg-dark py-2 px-2 mb-2">
                        <li class="step-one active">
                            Create a lyric by adding the title and song writer
                        </li>
                        <li class="step-two text-light">
                            Complete the lyric by adding chorus, verses and bridge.
                        </li>
                    </ol>
                </div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                    <div class="col-sm-6">
                        <div class="bg-dark shadow">
                            <form method="POST">
                                {% csrf_token %}

                                <div class="py-3 px-3">
                                    <div class="form-group">
                                        {{ form.label_tag }}
                                        {{ form }}
                                    </div>

                                    <input type="submit" value="Add" class="px-4 py-2 y-2">
                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}

